/* Header 배경 */
.fc-header-toolbar {
  background-color: #D0D6C3;
  margin-bottom: 0px !important;
  height: 50px;
}

/* Header 버튼 */
.fc-toolbar-chunk > button.fc-button-primary {
  background-color: #D0D6C3 !important;
  border-color: #D0D6C3 !important;
  color: black !important;
}
.fc-toolbar-title, .fc-icon {
  background-color: #D0D6C3;
}
/* 버튼 focus 테두리 제거 */
.fc-toolbar-chunk > button:focus {
  box-shadow: none !important;
}
/* 버튼 hover 화살표 색상 변경 */
.fc-toolbar-chunk > button:hover {
  color: white !important;
}

/* Header prev, next 버튼 위치 조정 */
.fc-header-toolbar {
  justify-content: center !important;
}
.fc-header-toolbar > div.fc-toolbar-chunk:nth-child(2) {
  min-width: 172.42px;
  text-align: center;
}

/* tr 배경 */
thead > tr {
  background-color: #D0D6C3;
}

/* 테이블 월 년 텍스트 */
h2.fc-toolbar-title {
  font-size: 1.5rem !important;
  cursor: default;
}

/* 테이블 Header - 요일 */
th.fc-col-header-cell a {
  text-decoration: none;
}

/* 평일: 검정색 */
.fc-day-mon a, .fc-day-tue a,
.fc-day-wed a, .fc-day-thu a, .fc-day-fri a {
  color: black;
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

/* 달력 크기 */
.fc-media-screen {
  min-height: 500px;
}

/* 달력 날짜 밑줄 삭제 */
a.fc-daygrid-day-number {
  text-decoration: none; 
}

@media (max-width: 999px) {
  /* Header prev, next 버튼 위치 조정 */
  .fc-header-toolbar > div.fc-toolbar-chunk:nth-child(1) {
    margin-left: 0%;
  }
  .fc-header-toolbar > div.fc-toolbar-chunk:nth-child(3) {
    margin-right: 0%;
  }
}
